doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Site about a scandinavian house design.")
		title Scandi Design
		link(href="https://fonts.googleapis.com/css?family=Dancing+Script:700|Roboto:400,700" rel="stylesheet")
		link(rel="stylesheet" href="css/styles.css")

	body.grid-layout

		//- Header
		header.header
			.container.container-flex

				//- Logo
				.header-logo
					a(href="#" aria-label="Back to main page")
						img(src="imgs/logo.svg" alt="Site logo").logo-img
					.logo-text
						.logo-text__title Scandi Design
						.logo-text__subtitle Simple & perfect

				//- Search field
				.header-search
					form.search-form
						input(type="search" name="search" aria-label="Search something on Scandi Design").search-field
						button(type="submit" aria-label="Search").search-btn

				//- Main menu
				nav.menu
					ul.menu__list
						each val in ["Houses", "Rooms", "Furniture", "Decorations", "Accessories", "Shops"]
							li.menu__item
								a(href="#").menu__link
									span.menu__name= val

		//- Main content
		.content
			.container
				h1.page-heading You are <span class="repaint">welcome</span>

				//- Slider
				.container-carousel
					.carousel
						ul.carousel-list

							mixin slide($link, $slideNum, $dataNum, $name)
								li(class="carousel-slide carousel-slide--" + $slideNum)
									img(src= $link data-slide-number= $dataNum alt= $name).carousel-slide__img

							+slide("imgs/slides/slider-floor.jpg", "1", "1", "Floor pattern")
							+slide("imgs/slides/slider-rouge.jpg", "2", "2", "Marimekko fabric")
							+slide("imgs/slides/slider-wall.jpg", "3", "3", "Wall pattern")

						button(aria-pressed="false" aria-label="Next slide").slide-button.slide-button__prev &#10094;
						button(aria-pressed="false" aria-label="Previous slide").slide-button.slide-button__next &#10095;

						.carousel-dots

							mixin repeat($limit)
								- for (var $i = 1; $i <= $limit; $i++)
									.dot

							.dot.js-dot-active
							+repeat(2)

				//- Gallery

				mixin galletyImg($aria, $numCard, $heightMod, $h, $text)
					a(class="card card--" + $numCard + " card--height-" + $heightMod href="#" aria-label=$aria)
						div(class="card-img card-img--" + $numCard)
						.card__overlay
						.card__content-wrp
							.card__content
								.card__title(role="heading" aria-level="2")=$h
								.card__text=$text

				.container-gallery
					+galletyImg("Living rooms gallery", "1", "1", "Living Rooms", "A living room is a room in a residential house or apartment for relaxing and socializing.")
					+galletyImg("Kitchens gallery", "2", "2", "Kitchens", "A kitchen is a room or part of a room used for cooking.")
					+galletyImg("Bed rooms gallery", "3", "2", "Bed Rooms", "A bedroom is a room where people sleep.")
					+galletyImg("Bath rooms gallery", "4", "2", "Bath Rooms", "A bathroom is a room in the home for personal hygiene activities.")
					+galletyImg("Paintings gallery", "5", "2", "Paintings", "A painting is a piece of art. It can be posters or pictures.")
					+galletyImg("Lamps gallery", "6", "1", "Lamps")
					+galletyImg("Materials gallery", "7", "2", "Materials")
					+galletyImg("Furniture gallery", "8", "2", "Furniture")

				//- Feature
				main.container-feature

					mixin feature($heading, $numImg, $text)
						h3.feature-item__heading= $heading
						.feature-item__img(class="feature-item__img--" + $numImg)
						p.feature-item__text= $text

					.feature-item
						+feature("Scandi style", "1", "Scandinavian design ― an aesthetic marked by minimalism and functionality ― has been influential since its inception in the early 20th century, but design ideas are still coming out the Nordic region to this day.")
					.feature-item
						+feature("Style Trends", "2", "Traditionally, only a modest amount of leather could be found in nordic styles, but the Scandinavian trend is now embracing more leather, especially distressed and repurposed styles.")
					.feature-item
						+feature("Colors", "3", "White walls and cool blue and gray textiles are common. In some homes, brighter pops of color like yellow and orange are found in Marimekko fabrics and rugs.")
					.feature-item
						+feature("Materials", "4", "Scandinavian design principles promote eco-friendly homes with organic, sustainable building materials for flooring, walls, siding and roofing.")

				//- Brands
				.container-brands
					ul.brands-list

						mixin brand($href, $aria, $src, $alt)
							li.brands-list__item
								a(href= $href target="_blank" rel="noopener noreferrer" aria-label= $aria).brands-list__item-link
									img(src= $src alt= $alt).brands-list__item-img

						+brand("https://www.ikea.com", "Go to IKEA site", "imgs/brand-IKEA.png", "IKEA")
						+brand("https://www.fermliving.com", "Go to Ferm Living", "imgs/brand-ferm.svg", "Ferm Living")
						+brand("http://string.se", "Go to String site", "imgs/brand-string.svg", "String")
						+brand("https://muuto.com", "Go to Muuto site", "imgs/brand-muuto.svg", "Muuto")

		//- Footer
		footer.footer
			.container
				.footer-social
					ul.social-links

						mixin spriteBtn($aria, $modifier)
							li.social-links__item
								a(href="#" target="_blank" rel="noopener noreferrer" aria-label= $aria class="social-link--" + $modifier).social-link

						+spriteBtn("Facebook", "fb")
						+spriteBtn("Instagram", "ig")
						+spriteBtn("Pinterest", "pin")
				.footer-right © With <span class="repaint">♥</span> Scandi team, 2018
				.footer-source See source on <a href="https://github.com/TatianaFokina/scandi-design" class="list-item-link" target="_blank" rel="noopener noreferrer">GitHub</a>

		script(src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="js/all.js")
