// ===================================================================================================================
// Colors
// ===================================================================================================================

$brand-1 = #fff
$brand-2 = #E9E9E9
$brand-3 = #FC8F9B
$brand-4 = #00BAB1

$font-color = #474747
$main-heading-color = #00BAB1
$h2-heading-color = $brand-1


// Type
//$link-color = $brand-1
//$link-color--hover = $brand-2



// Selection color
//$selection = desaturate(lighten($brand-1, 60%), 40%)




// ===================================================================================================================
// Type
// ===================================================================================================================

// Text
$font-size-root = 16px
$font-size-base = 1rem
$font-size-lg = 1.5rem // 24px
$font-size-md = 0.875rem // 14px
$font-size-sm = 0.812rem // 13px
$font-size-xs = 0.75rem // 12px
$line-height-base = 1.5


// Headings
$font-size-h2 = 2rem // 32px
$font-size-h3 = 1.313rem // 21px
$font-size-h4 = 1.2rem

$headings-line-height = 1
