// ===================================================================================================================
// Colors
// ===================================================================================================================

$brand-1 = #fff
$brand-2 = #E9E9E9
$brand-3 = #FC8F9B
$brand-4 = #00BAB1

$font-color = #474747
$main-heading-color = #00BAB1
$h2-heading-color = $brand-1





// Selection color
$selection = desaturate(lighten($brand-3, 60%), 40%)
