// ===================================================================================================================
// Responsive images
// ===================================================================================================================

.img-fluid
	img-fluid()
