.footer .container
	display flex
	flex-direction row
	align-items center
	justify-content space-between

.footer
	padding 20px 0
	
// Padding before footer
.content>:last-of-type
	padding-bottom 2rem

// Links
.social-links
	display flex
	flex-direction row
	list-style none
	
.social-links__item
	&:not(:last-child)
		margin-right 10px

.social-link
	width 35px
	height 35px
	display block
	background-image url("../imgs/icons/sprite-social-btns.svg")
	background-size 106px
	background-repeat no-repeat
	&--fb
		background-position 0 0
	&--ig
		background-position-x -36px
	&--pin
		background-position-x -73px
	// Hover effect
	&:hover
		background-position-y -36px
	