// ===================================================================================================================
// CSS Grid Layout
// ===================================================================================================================
*
*:before
*:after
	box-sizing border-box
	
html
body
	height 100%

.grid-layout
	margin 0
	display grid
	grid-template-areas "header"\
	"container"\
	"footer"
	// Sticky footer
	grid-template-rows auto 1fr auto
	min-height 100%

.header
	grid-area header

.container
	grid-area container

.footer
	grid-area footer




body
	background-color $brand-1




// ===================================================================================================================
// Main text
// ===================================================================================================================

html
	font-family "Roboto", sans-serif
	font-weight normal
	line-height 1.5
	color $font-color
	// Adaptive styles
	font-size 14px
	+media(md)
		font-size 16px
