.container
	padding 15px 0

.footer .container
	display flex
	flex-direction row

.footer-text
	margin-left auto

.footer
	margin-top 30px
	
// Padding before footer
//.content>:last-of-type
//	padding-bottom 5.125rem // 82px
