// Main menu & content menu

.unlink
	color inherit
	text-decoration none

.container-flex
	display flex

.new-line
	width 100%



.header-menu
	@extend .new-line

.header-menu__list
.container-menu__list
	display flex

.header-menu__list-item
	padding 4px 10px
	@extend .unlink
