// Logo
.header
	padding 13px 0
	border-bottom 2px solid $brand-2
	& .container-flex
		// Adaptive styles
		justify-content center
		+media(md)
			justify-content start

.header-logo
	display flex
	align-items center

.logo
	&-img
		// Adaptive styles
		margin-bottom 15px
		height 67px
		+media(md)
			height 77px
		+media(lg)
			margin-bottom 0
			height 90px
	&-text
		margin-left 20px
		// Adaptive styles
		&__title
			font-size 1.3rem
			text-transform uppercase
		&__subtitle
			font-size 0.7rem
			color $brand-4
		+media(lg)
			&__title
				font-size 1.6rem
			&__subtitle
				font-size 0.9rem

// Search
.header-search
	align-self center
	// Adaptive styles
	width 100%
	+media(md)
		width auto
		margin-left 60px

.search
	&-form
		position relative
		// Adaptive styles
		width 100%
		+media(md)
			width 360px
	&-field
		padding 5px
		width 100%
		display block
		border 1px solid darken($brand-2, 13)
		border-radius 3px
	&-btn
		width 30px
		height 100%
		position absolute
		top 0
		right 0
		background-color $brand-4
		background-image url("../imgs/icons/ico-search.svg")
		background-position 50% 50%
		background-size 16px
		background-repeat no-repeat
		border 0
		border-radius 0 3px 3px 0

// Padding after header
.content>:first-of-type
	padding-top 1.3rem
