// ===================================================================================================================
// Headings
// ===================================================================================================================

h1
h2
h3
	line-height 1
	font-family "Dancing Script", cursive
	font-weight bold

h1
h3
	color $main-heading-color

h1
	font-size 2.6rem

h2
	margin-bottom 1.5rem // 24px
	padding-bottom 0.5rem // 8px
	font-size 2rem // 32px
	color $h2-heading-color

h3
	margin-top 1.5rem // 24px
	margin-bottom 1rem // 16px
	font-size 1.313rem // 21px




// ===================================================================================================================
// Paragraph
// ===================================================================================================================

p
	margin-top 0
	margin-bottom 1rem
	&:last-of-type
		margin-bottom 0




// ===================================================================================================================
// Lists
// ===================================================================================================================

ol,
ul,
dl
	padding-left 0

ol ol,
ul ul,
ol ul,
ul ol
	margin-bottom 0

ul:last-of-type
	margin-bottom 0
