// ===================================================================================================================
// Clearfix
// ===================================================================================================================

.clearfix
.cf
	clearfix()

.clear
	clear both




// ===================================================================================================================
// Display & positioning
// ===================================================================================================================

// Display
.d-none
	display none !important
.d-inline
	display inline !important
.d-inline-block
	display inline-block !important
.d-block
	display block !important
.d-table
	display table !important
.d-table-cell
	display table-cell !important
.d-flex
	display flex
.d-inline-flex
	display inline-flex !important




// ===================================================================================================================
// Buttons reset
// ===================================================================================================================

.btn-reset
	padding 0
	border 0
	cursor pointer
	outline none !important
